@charset "UTF-8";
@import url("../common/base.css");
@import url("../common/colors.css");
@import url("../common/keyframes.css");
body[data-phase1] .phase1__text1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
  height: 0%;
  background-color: var(--white-color);
  overflow: hidden;
  -webkit-animation: phase1__text1_back_a 1.4s cubic-bezier(0.15, 0.95, 0.23, 0.89) 0s forwards;
          animation: phase1__text1_back_a 1.4s cubic-bezier(0.15, 0.95, 0.23, 0.89) 0s forwards;
  -webkit-box-shadow: 2px 2px 1px #000;
          box-shadow: 2px 2px 1px #000;
}

body[data-phase1] .phase1__text1::after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "きらめく自然、こころ癒されるまち。";
  font-weight: bold;
  font-family: "HG正楷書体-PRO",fantasy;
  font-size: 2.8vw;
}

body[data-phase1] .phase1__map {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: absolute;
  top: -1000%;
  left: 50%;
  width: 1000%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: appear 0s ease 1.5s forwards, phase1__map_a 1s ease 1.5s forwards;
          animation: appear 0s ease 1.5s forwards, phase1__map_a 1s ease 1.5s forwards;
}

body[data-phase1] .phase1__backcircle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform: scale(0);
          transform: scale(0);
  width: 150vmax;
  height: 150vmax;
  border-radius: 50%;
  background-color: #7878ff;
  z-index: -1;
  -webkit-animation: scale0-1_50p 1s ease 1.5s forwards;
          animation: scale0-1_50p 1s ease 1.5s forwards;
}

body[data-phase1] .phase1__text2 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 6vw;
  padding: 0px 2vw;
  color: var(--white-color);
  opacity: 0;
  background-color: var(--blue-color);
  -webkit-animation: fadein .5s ease 2.5s forwards, phase1_text2_a .5s ease 2.5s forwards;
          animation: fadein .5s ease 2.5s forwards, phase1_text2_a .5s ease 2.5s forwards;
}

body[data-phase1] .phase1__text2:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -3vw;
  content: "島根県";
  font-weight: bold;
  font-size: 2vw;
  color: var(--black-color);
  text-indent: .5vw;
  letter-spacing: .5vw;
}

body[data-phase1] .phase1__text2:after {
  position: absolute;
  content: "";
  left: -3.99vw;
  top: 30%;
  border: 2vw solid transparent;
  border-right: 2vw solid #660088;
}

body[data-phase1] .phase1__change1 {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(calc(100% + 25vw));
          transform: translateY(calc(100% + 25vw));
  width: 100%;
  height: 100%;
  background-color: #c3ce5f;
  -webkit-animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.5s forwards;
          animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.5s forwards;
}

body[data-phase1] .phase1__change1:before {
  border-bottom: solid 25vw #c3ce5f;
  position: absolute;
  content: "";
  top: -25vw;
  height: 0%;
  width: 0%;
  border-left: solid 50vw transparent;
  border-right: solid 50vw transparent;
}

body[data-phase1] .phase1__change2 {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(calc(100% + 25vw));
          transform: translateY(calc(100% + 25vw));
  width: 100%;
  height: 100%;
  background-color: #c45c66;
  -webkit-animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.7s forwards;
          animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.7s forwards;
}

body[data-phase1] .phase1__change2:before {
  border-bottom: solid 25vw #c45c66;
  position: absolute;
  content: "";
  top: -25vw;
  height: 0%;
  width: 0%;
  border-left: solid 50vw transparent;
  border-right: solid 50vw transparent;
}

body[data-phase1] .phase1__change3 {
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translateY(calc(100% + 25vw));
          transform: translateY(calc(100% + 25vw));
  width: 100%;
  height: 100%;
  background-color: #283c5f;
  -webkit-animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.9s forwards;
          animation: phase1__change_a 0.7s cubic-bezier(0.97, 0.01, 0, 0.97) 3.9s forwards;
}

body[data-phase1] .phase1__change3:before {
  border-bottom: solid 25vw #283c5f;
  position: absolute;
  content: "";
  top: -25vw;
  height: 0%;
  width: 0%;
  border-left: solid 50vw transparent;
  border-right: solid 50vw transparent;
}

body[data-phase1] .phase1__change3:after {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  content: "Let's enjoy!";
  font-size: 7vw;
  font-family: 'Comic Sans MS', cursive;
  color: var(--white-color);
}

@-webkit-keyframes phase1__text1_back_a {
  0% {
    height: 0%;
  }
  40% {
    height: 20%;
  }
  60% {
    height: 20%;
  }
  100% {
    height: 0%;
  }
}

@keyframes phase1__text1_back_a {
  0% {
    height: 0%;
  }
  40% {
    height: 20%;
  }
  60% {
    height: 20%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes phase1__map_a {
  0% {
    width: 500%;
    -webkit-transform: translate(-70%, -50%) rotate(30deg);
            transform: translate(-70%, -50%) rotate(30deg);
  }
  50% {
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes phase1__map_a {
  0% {
    width: 500%;
    -webkit-transform: translate(-70%, -50%) rotate(30deg);
            transform: translate(-70%, -50%) rotate(30deg);
  }
  50% {
    width: 80%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  100% {
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes phase1_text2_a {
  from {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes phase1_text2_a {
  from {
    -webkit-transform: translate(0%, -50%);
            transform: translate(0%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes phase1__change_a {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes phase1__change_a {
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
