@import url("../common/base.css");
@import url("../common/colors.css");
@import url("../common/keyframes.css");

body {
	position:relative;
	width: 100%;
	height: 100%;
	margin:0;
	overflow: hidden;
}

#title__background{
	z-index:-2;
	overflow: hidden;
	background-color: rgb(0,163,175);/*半透明カラーの色*/
}
#title__background::before{
	content: '';
	background: url('../images/grandtoit.jpg');/*背景画像のURL*/
	background-size: cover;
	opacity: 0.5;/*半透明カラーの透明度*/
	filter: blur(8px);/*ぼかし度*/
	position: absolute;
	/* 参考: http://designcolor-web.com/2016/09/14/css-blur-effects-background/*/
	top: 8px;
	left: 8px;
	right: 8px;
	bottom: 8px;
	z-index: -3;
}

#title__sub{
	position: absolute;
	font-size: 30px;
	font-family: serif;
	color: #000;
	text-indent: 5px;
	letter-spacing: 5px;
	top: calc(50% - 50px);
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	z-index:-2;
	animation: fadein .8s linear 0s forwards;
}

.title__alert{
	position: absolute;
	display:block;
	color:#aa0000;
	font-size: 20px;
	top: calc(100% - 40px);
	left: calc(100% - 520px);
	z-index:-2;
	font-weight:bold;
	animation: fadein .8s linear 0s forwards;
}

.title__title{
	position: absolute;
	font-size: 60px;
	font-family: serif;
	color: var(--black-color);
	text-indent: 30px;
	letter-spacing: 30px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	animation: fadein .8s linear 0s forwards;
}

body[data-state="active"] .title__title{
	animation: title__title_move 1s ease 0s forwards,
	fadeout 0.5s ease 4s forwards;
}

@keyframes title__title_move {
	from { 
		transform: translateY(-50%) translateX(-50%);
	}
	to { 
		transform: translateY(-100%) translateX(-50%);
		font-size:80px
	}
}

.title__btn::before{
	position: absolute;
	top: 57%;
	left: 50%;
	transform: translate(-50%,-56%);
	content:"Exprole";
	font-size: 26px;
	text-align:center;
}

body[data-state="active"] .title__btn::before{
	animation: title__btn_text_change 1s ease 0s forwards,
	title__btn_text_change2 0s ease 4s forwards,
	fadeout 0.5s ease 4s forwards;
}

.title__btn {
	position: absolute;
	top: calc(50% + 60px);
	left: 50%;
	transform: translate(-50%,-50%);
	height: 2.5em;
	width: 10em;
	text-decoration: none;
	color: var(--black-color);
	border: solid 2px #000;
	border-radius: 3px;
	content:"hi";
	transition: all 0.2s ease 0s;
	cursor:pointer;
	animation: scale0-1_50p .8s ease 0s forwards;
}

.title__btn:hover {
	background-color: rgba(0,10,200,0.1);
}

body[data-state="active"] .title__btn{
	pointer-events:none;
	animation: title__btn_spring 1s ease 0s forwards,
	fadeout_color 0.5s ease 4s forwards,
	fadeout 0s ease 6.5s forwards;
}

.title__btn::after{
	position: absolute;
	top: 57%;
	left: 50%;
	content: "";
	background-color: #00ff00;
	transform: translate(-50%,-57%);
	width:15em;
	height:4em;
	clip:rect(0em, 0em, 4em, 0em);
}

body[data-state="active"] .title__btn::after{
	animation: title__btn_progress 3s ease 1s forwards,
	widthto100 0.5s ease 4s forwards,
	heightto100 0.5s ease 4.5s forwards,
	delete_clip 0s ease 4s forwards;
}

@keyframes title__btn_spring {
	0% { 
		transform: translateY(-50%) translateX(-50%);
		width:10em;
	}
	50% {
		width:0em;
	}
	100% { 
		transform: translateY(-60%) translateX(-50%);
		width:15em;
		height:4em;
	}
}
@keyframes title__btn_text_change {
	0% { 
		content: "Exprole";
	}
	50%{
		opacity:0;
	}
	100% { 
		transform: translateY(70%) translateX(30%);
		font-size: 20px;
		content: "Loading...";
	}
}

@keyframes title__btn_text_change2 {
	0% { 
		content: "Loading...";
	}
	100% { 
		transform: translateY(70%) translateX(120%);
		content: "Done!";
	}
}
@keyframes title__btn_progress {
	to { 
		clip:rect(0em, 15em, 4em, 0em);
	}
}

.title__backcircle {
	position: relative;
	top: 57%; left: 50%;
	width: 150vmax; height: 150vmax;
	transform: translate(-50%,-50%) scale(0);
	border-radius: 50%;
	background-color: var(--white-color);
	z-index:-1;
}

body[data-state="active"] .title__backcircle{
	/*ボタンを押したとき*/
	animation: scale0-1_50p 1s ease-in 0s forwards;
}

.title__skip_btn{
	position: absolute;
	top: calc(100% - 100px); left: 100%;
	text-decoration: none;
	font-size:40px;
	padding:5px 20px;
	color: var(--black-color);
	border :solid 4px var(--black-color);
	border-radius : 4px;
	padding-right:50px;
}

body[data-state="active"] .title__skip_btn{
	animation: title__skip_btn_move 3s ease 1s forwards; 
}

@keyframes title__skip_btn_move{
	10%{
		left:calc(100% - 130px);
	}
	80%{
		left:calc(100% - 130px);
	}
}
