@keyframes turn {
	from { transform: rotate(0deg); }
	to { transform: rotate(1turn); }
}

@keyframes turn_50p{
	from{
		transform: translate(-50%,-50%) rotate(0deg) ; 
	}
	to{
		transform: translate(-50%,-50%) rotate(1turn); 
	}
}

@keyframes scale0-1 {
  from { transform: scale(0); }
  to   { transform: scale(1); }
}

@keyframes scale1-0 {
  from { transform: scale(1); }
  to   { transform: scale(0); }
}

@keyframes scaledown {
  from { transform: scale(1.2); }
  to   { transform: scale(1); }
}

@keyframes widthto100 {
  to   { width: 100vw; }
}

@keyframes heightto100 {
  to   { height: 105vh; }
}

@keyframes appear {
  from   { top: -1000%; }
  to   { top: 50%; }
}

@keyframes delete_clip{
  to   { clip: auto; }
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

@keyframes fadeout_color {
  to{
	  color: rgba(0,0,0,0);
	  background-color: rgba(0,0,0,0);
	  border:0px;
  }
}

@keyframes scale0-1_50p{
	from{
		transform: translate(-50%,-50%) scale(0); 
	}
	to{
		transform: translate(-50%,-50%) scale(1); 
	}
}
