.title
  .phase1
    &__cutin
      @include center(false, true)
      width: 100%
      height: 0%
      background-color: $white-color
      box-shadow: 2px 2px 1px #000
      overflow: hidden

      &_text
        @include center
        font-weight: bold
        font-family: "HG正楷書体-PRO",fantasy
        font-size: 2.8vw

    &__map
      @include center(true, false)
      position: absolute
      top: -1000%
      left: 50%
      width: 1000%
      transform: translateY(-50%)

    &__backcircle
      @include center
      transform: scale(0)
      width: 150vmax
      height: 150vmax
      border-radius: 50%
      background-color: #7878ff
      z-index: -1

    &__text2
      @include center
      font-size: 6vw
      padding: 0px 2vw
      color: $white-color
      opacity: 0
      background-color: $blue-color

      &:before
        @include center(true, false)
        top: -3vw
        content: "島根県"
        font-weight: bold
        font-size: 2vw
        color: $black-color
        text-indent: .5vw
        letter-spacing: .5vw

      &:after
        position: absolute
        content: ""
        left: -3.99vw
        top: 30%
        border: 2vw solid transparent
        border-right: 2vw solid #660088

    $change_colors : (#c3ce5f, #c45c66, #283c5f)
    @for $i from 1 through 3
      &__change#{$i}
        position: absolute
        top: 0%
        left: 0%
        transform: translateY(calc(100% + 25vw))
        width: 100%
        height: 100%
        background-color: nth($change_colors, $i) 

        &:before
          border-bottom: solid 25vw nth($change_colors, $i)
          position: absolute
          content: ""
          top: -25vw
          height: 0%
          width: 0%
          border-left: solid 50vw transparent
          border-right: solid 50vw transparent

    &__change3:after
      @include center
      content: "Let's enjoy!"
      font-size: 7vw
      font-family: 'Comic Sans MS', cursive
      color: $white-color
